<section style="background-color: #eee;">
    <div class="text-center container py-5">
      <h4 class="mt-4 mb-5"><strong>Bestsellers</strong></h4>
      <div class="row">
        {% for book in books %}
            <div class="col-lg-2 col-md-4 mb-4">
                    <div class="card">
                        <div>
                            <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}.jpg" class="sc-img mx-auto" />
                            <a href="#!">
                                <div class="mask">   
                                    <div class="d-flex justify-content-start align-items-end"></div>
                                </div>
                                <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);" ></div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="" class="text-reset">
                                {% if book.title|length > 13 %}
                                    <h5 class="card-title mb-3">{{book.title[0:10] + ('...')}}</h5>
                                {% else %}
                                    <h5 class="card-title mb-3">{{book.title}}</h5>
                                {% endif %}
                            </a>
                            <h6 class="mb-3">${{book.price}}</h6>
                        </div>
                    </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </section>