<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'components/links.html' %}

    {% block title %}
    {% endblock %}

    {% block style %}
    {% endblock %}
</head>

<body>
    {% include 'components/navbar.html' %}

    <div class="flex-wrapper">
    {% block content %}
    {% endblock %}

    {% include 'components/footer.html' %}
    </div>

    {% block scripts %}
    {% endblock %}
</body>

</html>