{% extends 'shared/base.html' %} {% block title %}
<title>{{book.title}}</title>
{% endblock%} {% block style %}
<style>
    .bg-section-img {
        background-image: url("https://covers.openlibrary.org/b/isbn/{{book.isbn}}.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %} {% block content%}
<!-- Book (product page) -->
<section class="my-5 p-0 vh-100">
    <div class="container-lg bg-section-img">
        <div class="row blur p-4 justify-content-center">
            <div class="col-xs-12 col-md-3">
                <img class="rounded-3 img-fluid mx-auto d-block"
                    src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}.jpg" alt="" />
            </div>

            <div class="col-xs-12 col-md-8">
                <h1 class="text-white fw-bold">{{book.title}}</h1>
                <span class="text-white">{{book.published_date}} • </span>
                <span class="text-white">{{book.genre}} • </span>
                <span class="text-white">{{book.pages}} Pages</span>
                <div class="my-4">
                </div>
                <h3 class="text-white">Overview</h3>
                <p class="text-white">{{book.description}}</p>
                <p class="text-white fw-bold m-0">
                    {{author.first_name}} {{author.last_name}}
                </p>
                <p class="text-white">Author</p>
                <p class="text-white fw-bold m-0">{{publisher.company_name}}</p>
                <p class="text-white">Publisher</p>
                <button type="button" class="btn btn-warning btn-sm" onclick="add_cartitem('{{user.id}}', '{{book.id}}')">
                    Add To Cart
                </button>
                <div class="dropdown mt-1">
                    <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownMenuWishlist"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Add To Wishlist <i class="fa-solid fa-list"></i>
                    </button>
                    {% if wishlists is defined and wishlists|length > 0 %}
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuWishlist">
                        {% for wishlist in wishlists %}
                        <li>
                            <a class="dropdown-item"
                                onclick="add_wishitem('{{wishlist.id}}', '{{book.id}}')">{{wishlist.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuWishlist">
                        <li>
                            <a class="dropdown-item" href="/api/wishlist">Create Wishlist</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}